* {
    margin: 0;
    padding: 0;
}

.cart-icon a img {
    width: 40px;
}

header {
    background-color: beige;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

header div {
    margin: 30px 30px 10px 30px;
}

.titulo {
    text-align: center;
    margin: 40px;
}

#container-productos {
    display: flex;
    justify-content: center;
    gap: 60px;
}

#container-productos div {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #d4e2a1;
}


#container-productos img {
    width: 200px;
}

.productos-del-carrito {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.productos-del-carrito img {
    width: 50px;
}

.productos-del-carrito div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton-comprar {
    background-color: aquamarine;
    border: 1px solid #d4e2a1;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.boton-comprar:hover {
    background-color: #36bdbd;
}

.carrito {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carrito.visible {
    left: 0;
}

.carrito h2 {
    text-align: center;
}